* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


body::before {
    background-image: url("img/otra.jpg");
    background-repeat: repeat;
    background-position: center;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.contenedor_general {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.contenedor_titulo {
    display:flex;
    height: 10%;
    
}

.contenedor_app {
    display: flex;
    flex-direction:row;
    height: 65%;
    width: 100%;
    justify-content: center;

}
.contenedor_entrada {
    width: 120%;
    height: 100%;
    margin: 1%;
}
.contenedor_salida {
    width: 80%;
    height: 100%;
    margin: 1%;
}

.contenedor_input {
    height: 80%;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

#input_entrada {
    width: 100%;
}

#input_salida {
    width: 100%;
}

.contenedor_botones {
    width: 100%;
    display:flex;
    justify-content: space-around;

}

.contenedor_boton {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.contenedor_boton_desencripta{
    border-radius: 16px;
    background: #d5deea;
    color: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

h1 {
    font-family:'Courier New', Courier, monospace, sans-serif;
    font-size: 72px;
}

p,
button {
    font-family: 'Inter', sans-serif;
}

.texto__parrafo {
    font-size: 32px;
    font-weight: 400;
}

.pie_pagina {
    height: 5%;
    justify-content:center;
    color: aqua;
    margin: 0;
    padding: 0;
}
