@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #FFF;
    --color-cuaternario: #495057;
    --color-quintario: #D8DFE8;
    --color-tex: #343A40;
    --fuente-primaria: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    font-family: var(--fuente-primaria);
    min-height: 100vh;
}

.contenedor {
    display: flex;
    width: 100%;
    height: 100%;
}

.contenedor__logo {
    padding-top: 2%;
    width: 15%;
}

.contenedor__entrada {
    margin-top: 5%;
    width: 45%; 
}

.contenedor__entrada__texto {
    border: none;
    background-color: var(--color-primario);
    width: 90%;
    height: 80%;
    font-family: var(--fuente-primaria);
    font-size: 2rem;
    color: var(--color-secundario);
}

.contenedor__entrada__info {
    display: flex;
    align-items: center;
    font-family: var(--fuente-primaria);
    font-size: 0.75rem;
    color: var(--color-cuaternario);
    gap: 1%;
}

.contenedor__entrada__botones {
    display: flex;
    gap: 2.3%;
    margin: 2%;
}

.contenedor__entrada__boton1,
.contenedor__entrada__boton2 {
    width: 45%;
    padding: 3%;
    border-radius: 24px;
    border: none;
    font-family: var(--fuente-primaria);
    font-size: 1rem;
    cursor: pointer;
}

.contenedor__entrada__boton1 {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}

.contenedor__entrada__boton2 {
    background-color: var(--color-quintario);
    color: var (--color-secundario);
    border: 1px solid var(--color-secundario);
}

.contenedor__salida {
    width: 30%;
    margin: 4% auto;
    background-color: var(--color-terciario);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.contenedor__salida2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contenedor__salida__imagen {
    width: 90%;
}

.contenedor__salida__mensajes {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.contenedor__salida__mensaje1,
.contenedor__salida__mensaje2 {
    font-family: var(--fuente-primaria);
    color: var(--color-tex);
}

.contenedor__salida__mensaje1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.contenedor__salida__mensaje2 {
    font-weight: 400;
    font-size: 1rem;
}

.contenedor__salida__texto {
    width: 90%;
    height: 150px;
    font-family: var(--fuente-primaria);
    font-size: 1rem;
    color: var(--color-secundario);
    border: none;
    border-radius: 8px;
    padding: 10px;
}

.contenedor__salida__boton {
    width: 90%;
    padding: 10px;
    border: 1px solid var(--color-secundario);
    border-radius: 24px;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    font-family: var(--fuente-primaria);
    font-size: 1rem;
    cursor: pointer;
}

footer {
    display: flex;
    padding: 3%;
    justify-content: center;
    font-family: var(--fuente-primaria);
    font-size: .8rem;
}

/* Media Queries para cambios responsivos */

@media (max-width: 1200px) {
    .contenedor {
        flex-direction: column;
    }

    .contenedor__entrada {
        width: 100%;
        margin-bottom: 10%;
    }

    .contenedor__salida {
        width: 100%;
        margin-bottom: 10%;
    }
    .contenedor__salida__boton {
        padding: 2.5%;

    }
}

@media (max-width: 800px) {
    .contenedor__entrada__botones {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .contenedor__entrada__boton1,
    .contenedor__entrada__boton2 {
        width: 90%;
    }
}
